In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv(r"C:\Users\arthu\OneDrive\Documentos\GitHub\Telegram\Python para Data Science e Machine Learning\MÃ³dulo 2 - Analisando Dados com Pandas\Dados\exemplo.csv")
df1

          0         1         2         3
0 -0.394813 -0.694630  0.253393  0.602590
1 -2.134217  1.141381 -0.130142  0.690936
2 -0.223754  0.365133 -0.104233 -0.182788
3  0.108066  0.331332  0.053708 -0.280468
4  0.085290  0.740834 -0.596941  0.243950

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
dtypes: float64(4)
memory usage: 288.0 bytes

In [10]:
# Exportar csv
df1.to_csv("exemplinho2.csv")