In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn
df = pd.DataFrame(randn(5, 4), index="A B C D E".split(), columns="W X Y Z".split())
df

          W         X         Y         Z
A -0.053410  0.391680  0.187115 -1.071624
B -2.058598 -0.571396  0.330469  0.736817
C  0.890010 -1.224420 -0.207737  1.915485
D -0.376064 -0.254534  1.133539 -1.750197
E -2.838237  1.085394 -0.437521 -1.223425

In [3]:
df["W"]

A   -0.053410
B   -2.058598
C    0.890010
D   -0.376064
E   -2.838237
Name: W, dtype: float64

In [4]:
type(df["W"])

pandas.core.series.Series

In [5]:
df[["W", "Z"]]

          W         Z
A -0.053410 -1.071624
B -2.058598  0.736817
C  0.890010  1.915485
D -0.376064 -1.750197
E -2.838237 -1.223425

## Criar nova coluna POREM copiando os dados de outra coluna

In [6]:
df["Novo"] = df["W"]
df

          W         X         Y         Z      Novo
A -0.053410  0.391680  0.187115 -1.071624 -0.053410
B -2.058598 -0.571396  0.330469  0.736817 -2.058598
C  0.890010 -1.224420 -0.207737  1.915485  0.890010
D -0.376064 -0.254534  1.133539 -1.750197 -0.376064
E -2.838237  1.085394 -0.437521 -1.223425 -2.838237

In [7]:
del df["Novo"]
df

          W         X         Y         Z
A -0.053410  0.391680  0.187115 -1.071624
B -2.058598 -0.571396  0.330469  0.736817
C  0.890010 -1.224420 -0.207737  1.915485
D -0.376064 -0.254534  1.133539 -1.750197
E -2.838237  1.085394 -0.437521 -1.223425

In [8]:
df["Novo"] = df["W"]
df.drop('Novo', axis=1)
# Opção sem Retorno
df.drop('Novo', axis=1, inplace=True)

In [9]:
df.loc["A"]

W   -0.053410
X    0.391680
Y    0.187115
Z   -1.071624
Name: A, dtype: float64

In [10]:
df.loc[["A", "C", "E"]]

          W         X         Y         Z
A -0.053410  0.391680  0.187115 -1.071624
C  0.890010 -1.224420 -0.207737  1.915485
E -2.838237  1.085394 -0.437521 -1.223425

In [11]:
df.iloc[0,2]

0.18711450145167496