In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [5]:
fora = "G1 G1 G1 G2 G2 G2".split()
dentro = [1,2,3, 1,2,3]
hierarkia_index = list(zip(fora, dentro))
hierarkia_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hierarkia_index = pd.MultiIndex.from_tuples(hierarkia_index)
hierarkia_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6, 2), index=hierarkia_index, columns=["A","B"])
df

             A         B
G1 1 -0.808299  0.446757
   2  1.009753  0.718225
   3 -0.290680  0.583013
G2 1 -1.008870 -0.397572
   2 -1.018662  2.150290
   3 -0.831456 -0.311168

In [9]:
df.loc["G1"]

          A         B
1 -0.808299  0.446757
2  1.009753  0.718225
3 -0.290680  0.583013

In [10]:
df.loc["G1"].loc[1]

A   -0.808299
B    0.446757
Name: 1, dtype: float64

In [11]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names=["Grupo", "Numero"]
df

                     A         B
Grupo Numero
G1    1      -0.808299  0.446757
      2       1.009753  0.718225
      3      -0.290680  0.583013
G2    1      -1.008870 -0.397572
      2      -1.018662  2.150290
      3      -0.831456 -0.311168

In [14]:
df.xs("G1")

               A         B
Numero
1      -0.808299  0.446757
2       1.009753  0.718225
3      -0.290680  0.583013

In [15]:
df.xs(1, level="Numero")

              A         B
Grupo
G1    -0.808299  0.446757
G2    -1.008870 -0.397572

In [16]:
df.xs(2, level="Numero")

              A         B
Grupo
G1     1.009753  0.718225
G2    -1.018662  2.150290

In [17]:
df.xs(3, level="Numero")

              A         B
Grupo
G1    -0.290680  0.583013
G2    -0.831456 -0.311168